@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoRegular;
  src: url("./assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: NotoSemibold;
  src: url("./assets/fonts/NotoSans-SemiBold.ttf");
}
@font-face {
  font-family: NotoBold;
  src: url("./assets/fonts/NotoSans-Bold.ttf");
}


body {
  margin: 0;
  font-family: NotoRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

