@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoRegular;
  src: url("./assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: NotoSemibold;
  src: url("./assets/fonts/NotoSans-SemiBold.ttf");
}
@font-face {
  font-family: NotoBold;
  src: url("./assets/fonts/NotoSans-Bold.ttf");
}


body {
  margin: 0;
  font-family: NotoRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E1E1E1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-loader .ant-spin-dot-item {
  background-color: #fff !important;
}

.sidemenu-drawer .ant-drawer-body{
  padding: 0 !important;
}

.ant-layout-sider-children{
  @apply !py-6
}

.ant-menu-item{
  @apply !my-3
}

.ant-menu-item-selected{
  @apply !bg-primary !text-white
}

.ant-switch-inner{
  @apply border border-[#CCCCCC]
}

.ant-switch-handle{
  width: 16px !important;
  height: 16px !important;
  top: 3px !important;
  margin-left: 2px !important;
}

:where(.css-dev-only-do-not-override-dumdz8).ant-switch .ant-switch-handle::before{
  @apply !bg-[#F4F4F4] border border-[#CCCCCC]
}